*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link{
    text-decoration: none;
    color:#FFF;
}
.navbar-link:hover{
    color: blueviolet;
    background: rgba(245, 242, 242, 0.678);
}
.navbar-text{
    display: block;
    color:#FFF;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone{
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
    line-height: 20px;
}
.navbar-contacts{
    text-align: right;
}
.logo{
    text-decoration: none;
    color: #FFF;
    padding-left: 15px;
    font-size: 20px;
}
